.dmd-progress-container
  height                          0
  transition                      height 0.2s cubic-bezier(0.4, 0, 0.2, 1)
  overflow                        hidden

  &--showing
    height                        4px

.dmd-progress
  &---bufferbar
    background-color              rgb(63, 81, 181)
    opacity                       0.3
