// Wrap in body for higher specificity
body
  .mdl-textfield--floating-label.is-invalid .mdl-textfield__label
    color                                   mdl-error

  .mdl-textfield__error
    display                                 block

  :invalid
    box-shadow                              none

  .textarea-label:after
    bottom                                  23px
