.mdl-textfield
  .mdl-textfield--floating-label.is-invalid .mdl-textfield__label
    color                                   mdl-error

  .mdl-textfield__error
    display                                 block

  :invalid
    box-shadow                              none

  textarea
    vertical-align                          top

  &.disabled
    .mdl-textfield__label:after
      display                               none
    
    .mdl-textfield__input
      color                                 mdl-light-full
