.dmd-textfield
  &---textarea
    vertical-align                          top
    overflow                                hidden
    resize                                  none
    
    &--resizable
      resize                                vertical

  &.is-invalid .mdl-textfield__label
    color                                   rgb(222, 50, 38)

  &---error
    display                                 block
    
  &---helper
    position                                absolute
    display                                 block
    color                                   rgba(97,97,97,0.9)
    font-size                               12px
    margin-top                              3px

  :invalid
    box-shadow                              none

  &--disabled
    .mdl-textfield__label:after
      display                               none
    
    .mdl-textfield__input
      color                                 rgba(0,0,0,0.26)
