<index: attributes="accent class loading">
  <div as="progressContainer" class="dmd-progress-container{{if showing}} dmd-progress-container--showing{{/if}}{{if class}} {{class}}{{/if}}">
      <div class="dmd-progress mdl-progress mdl-progress__indeterminate">
        <div style="width: 100%;{{if accent}}background-color:{{accent}}{{/if}}" class="dmd-progress---bufferbar bar bar2"></div>
        {{if loading}}
          <div style="width: 0%;{{if accent}}background-color:{{accent}}{{/if}}" class="progressbar bar bar1"></div>
          <div style="width: 0%;{{if accent}}background-color:{{accent}}{{/if}}" class="auxbar bar bar3"></div> 
        {{/if}}
      </div>
  </div>
