.d-md-checkbox-textfield
  display                             flex
      
  .mdl-checkbox
    width                             auto
    min-width                         28px
    top                               24px
