<index: attributes="value validator fieldName disabled class">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {{if isFocused}}is-focused{{/if}} {{if value}}is-dirty{{/if}} {{if invalid}}is-invalid{{/if}}{{if disabled}} disabled{{/if}}{{if class}} {{class}}{{/if}}">
    {{if type === 'textarea'}}
      <textarea as="textarea" class="mdl-textfield__input" type="{{type}}" name="{{fieldName}}" on-focus="toggleFocus()" on-blur="toggleFocus(), validate()" rows="1" on-input="maybeExpand($element)" disabled="{{disabled}}">{{value}}</textarea>
    {{else}}
      <input class="mdl-textfield__input" type="{{type}}" name="{{fieldName}}" value="{{value}}" on-focus="toggleFocus()" on-blur="toggleFocus(), validate()" disabled="{{disabled}}" />
    {{/if}}
    {{if label}}<label class="mdl-textfield__label {{if type === 'textarea'}}textarea-label{{/if}}" for="{{fieldName}}">{{label}}</label>{{/if}}
    {{unless invalidMessage && invalid}}<span class="mdl-textfield__helper">{{helper}}</span>{{/unless}}
    <span class="mdl-textfield__error">{{invalidMessage}}</span>
  </div>
