mdl-dark                      = rgb(34, 34, 34)
mdl-medium                    = rgb(109, 109, 109)
mdl-light                     = rgb(182, 182, 182)
default-accent                = #009688
timing                        = 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms

@keyframes slideDown {
  from                       { transform: translateY(-280px); opacity: 0 }
  to                         { transform: translateY(-220px); opacity: 1 }
}

.dmd-timepicker
  color                       mdl-dark
  background-color            #fff
